body {
    margin: 80px 0 0 40px;
    background-color: #1F2937;
}

h1 {
    color: white;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}

#greenText {
    color: #4ADF86;
}

p {
    color: #D5D4D8;
    margin-bottom: 70px;
}

#generateButton {
    background-color: #10B981; 
    border-radius: 5px;
    padding: 10px;
    border: none;
    color: white;
    margin-bottom: 40px;
}

.passwordButton {
    background-color: #273549;
    color: #55F991;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    margin-right: 20px;
    border: none;
    min-width: 60px;
}

.container {
    display: flex;
    justify-content: left;
    
}