body {
    margin: 0 0 0 20px;
    background-color: #1F2937;
}

h1 {
    color: white;
    font-size: 40px;
    font-weight: 800;
}

#greenText {
    color: #4ADF86;
}

p {
    color: gray;
}

#generateButton {
    background-color: #4ADF86; 
    border-radius: 5px;
    padding: 5px;
    border: none;
    color: white;
    margin-bottom: 30px;
}

.passwordButton {
    background-color: #273549;
    color: #4ADF86;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    margin-right: 10px;
    border: none;
}

.container {
    display: flex;
    justify-content: space-between;
}